version: "3.8"

services:
  db:
    container_name: mongodb_container
    image: mongo:4.0-xenial
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secret
    volumes:
      - ./db:/data/db
  web-app:
    build: ./web-app
    depends_on:
      - db
    environment:
      - MONGO_URI=mongodb://admin:secret@db:27017/animals?authSource=admin
    ports:
      - "5000:5000"

volumes:
  images:
