<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% if register %}Register{% else %}Login{% endif %} | Who's That Animal?</title>
</head>

<body>
  <div class="flash-container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>


  <h1>
    {% if register %}Create Account{% else %}Login{% endif %}
  </h1>

  <form class="form-inline" method="post">
    <input name="username" type="text" placeholder="Username" required>

    {% if register %}
    <input name="email" type="email" placeholder="Email (optional)">
    {% endif %}

    <input name="password" type="password" placeholder="Password" required>

    <button type="submit">
      {% if register %}Register{% else %}Let's rock!{% endif %}
    </button>
  </form>

  <p>
    {% if register %}
    Already have an account?
    <a href="{{ url_for('login') }}">Login</a>
    {% else %}
    Need an account?
    <a href="{{ url_for('register') }}">Register</a>
    {% endif %}
  </p>
</body>

</html>