<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/style.css">
    <title>Upload Photo</title>
  </head>
  <body>
    <h1>Found a photo of an animal you don't know? Upload it here:</h1>

    <form method="post" enctype="multipart/form-data">
      <label>Image:
        <input type="file" name="image" accept="image/*" required>
      </label><br>
      <button type="submit">Let's find out!</button>
    </form>
  </body>
</html>
