body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
  background: #9ee84a;
  color: #fdff9e;
}

h1,
h2 {
  color: #fdff9e;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

nav h1 {
  margin: 0;
}

nav a {
  margin-left: 12px;
  text-decoration: none;
  color: #fdff9e;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background: #04de6a;
  color: #ffd68f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #005fa3;
}

/* Grid layout for animal photos */
.grid {
  display: grid;
  gap: 20px;
}

/* Image styles */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}